header {
  line-height: 2;
  background-color: #ffffff;

  .logo {
    padding: 10px 30px;
    color: #bdbdbd;
  }

  .title {
    font-weight: 800;
    font-size: 20px;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      display: flex;
      cursor: pointer;
      border: none;
      background: #fff;
      margin-right: 30px;
      font-size: 12px;
      align-items: center;
      svg {
        font-size: 16px;
        margin-right: 4px;
      }
    }
  }

  & :nth-child(2) {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bdbdbd;
    padding: 10px 30px;

    .btn-add {
      background-color: #f5222d;
      color: #fff;
      border-radius: 4px;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: #f5222d;
        background-color: #fff;
        border: 1px solid #f5222d;
      }
    }
  }
}
